@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  padding: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  max-width: 969px;
  margin: 0 auto;
}

h1 {
  font-size: 2.4rem;
}
p {
  margin: 0;
}

.flex {
  display: flex;
}

.items-start {
  align-items: flex-start;
}
label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

input[type='checkbox'] {
  margin-right: 1rem;
}

.main {
  max-width: 540px;
}
/* recipe title */
.recipe__title {
  font-size: 2.4rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}
@media screen and (min-width: 960px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .recipe__title {
    font-size: 4.8rem;
  }
}

/* recipe description */
.recipe__desc {
  display: flex;
  font-size: 1.4rem;
  color: #4f4f4f;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3;
  padding-right: 0.8rem;
  max-width: 600px;
}
.recipe__desc::before {
  display: block;
  margin-right: 1.2rem;
  content: url(./6dots.svg);
}

@media screen and (min-width: 1200px) {
  .recipe__desc {
    width: 63%;
  }
}
/* recipe picture */

.recipe__picture {
  display: block;
  width: 100%;
  margin: 2.4rem auto;
}

@media screen and (min-width: 1200px) {
  .recipe__picture {
    height: 470px;
  }
}
/* recipe detail */

.recipe__detail {
  display: flex;
}

.recipe__detail--text {
  margin: 0;
}
.title {
  font-family: inherit;
  font-weight: bold;
  color: #bdbdbd;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* recipe time */

.recipe__time {
  margin-top: 2rem;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 960px) {
  .flex-right {
    margin-top: 2rem;
    padding: 5rem;
  }
  .recipe__time {
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

@media screen and (min-width: 960px) {
  .item {
    margin: 2rem 0;
  }
}
.material-icons {
  font-size: 2rem;
  padding-right: 0.7rem;
}

.material-icons.gray {
  color: rgb(32, 32, 32);
}

/* recipe ingredients  */
.recipe__ingredients {
  font-family: 'Playfair Display', serif;
}

.recipe__ingredients h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.recipe__ingredients p {
  font-size: 1.6rem;
  font-style: italic;
  color: #333333;
  margin: 2rem 0;
}

.recipe__ingredients label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

/* recipe instructions */
.recipe__instructions {
  font-family: 'Playfair Display', serif;
}

.text-wrapper {
  display: flex;
  align-items: center;
  margin: 3rem 0;
}
.recipe__instructions--text {
  font-size: 1.6rem;
  max-width: 530px;
  min-width: 300px;
}
.recipe__instructions--text strong {
  font-weight: 700;
}
.text-wrapper .number {
  align-self: flex-start;
  margin-right: 1rem;
  content: attr(data-num);
  border-radius: 8px;
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 1.4;
  padding: 0.5rem 1rem;
  background-color: #f2994a;
}
/* color */
.orange {
  color: #f2994a;
}

.bg-orange {
  background-color: #f2994a;
}
/* typograry */
.bolder {
  font-weight: 500;
  font-style: italic;
}

.step {
  display: flex;
  margin: 0.3rem 0;
}
